*.sif
*.doc
*.docx
*.toc
*.pdf
*.aux
*.docx
*.xlsx
*.log
*.RData
*.DS_Store
*.Rapp.history
*.Rhistory
*.bst
*.bib.bak
*.bbl
*.blg
*.out
*.gz
*.zip
*.gdoc
*.csv
*.png
*.asc
*.grd
*.gri
*.tif
*.DEM
*.adf
*.kmz
datos/
literature/books
literature/info
literature/papers
literature/proyectos
manuscript/
presentaciones/
questions/
results/
*.bib.sav
*.jpg
*.ppt
*.nav
*.snm
