*.sif
*.doc
*.docx
*.toc
*.pdf
*.aux
*.docx
*.xlsx
*.log
*.RData
*.DS_Store
*.Rapp.history
*.Rhistory
*.bst
*.bib.bak
*.bbl
*.blg
*.out
*.gz
*.zip
*.gdoc
*.csv
*.png
*.asc
*.grd
*.gri
*.tif
*.DEM
*.adf
*.kmz
datos/
literature/books
literature/info
literature/papers
literature/proyectos
manuscript/
presentaciones/
questions/
results/
code/phylo/recipes/01_global_test_phylo_ubuntu_20_04_v1_slurm_files/
*.bib.sav
*.jpg
*.ppt
*.nav
*.snm
code/phylo/global_test_phylo_current_v1_batch_*
.vscode/
